@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #ffede1;
}
nav {
  background-color: #341d30;
  position: relative;
  z-index: 1;
  padding: 0 50px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #341d30;
  box-shadow: 0px 7px 20px #341d30;
  margin-bottom: 5rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
li > a {
  font-family: "Inter";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 39px;
  color: #d5b8d0;
}
li > a:hover {
  color: #f5f5f5;
}
nav > h1 {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
  border: 3px solid black;
}
.avatar-l {
  width: 200px;
  border-radius: 50%;
  border: 3px solid black;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90vw;
  height: 70vh;
  background: #ffede1;
  box-shadow: 0px 12px 44px 14px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 30%;
  height: 100%;
  border-right-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* border-bottom: 1px solid; */
}

.down {
  width: 100%;
  height: 100%;
  background: #ffede1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.space {
  width: 4rem;
  height: 3rem;
}
.line {
  width: 80%;
  height: 1px;
  background: black;
  margin: 30px;
  margin-bottom: -20px;
}

button {
  width: 252px;
  height: 48px;
  left: 2113px;
  top: 824px;
  border: 3px solid #341d30;
  border-radius: 10px;
}
.cred {
  position: relative;
  bottom: 40px;
}

input {
  height: 40px;
  background: #ffede1;
  border: 3px solid #341d30;
  border-radius: 5px;
  margin: 20px;
}

.right {
  width: 70%;
  height: 100%;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
.fifty {
  width: 45%;
}
.seventy {
  width: 60%;
}
.thirty {
  width: 25%;
}
.hundred {
  width: 90%;
}
.form-button {
  background: #341d30;
  color: #d5b8d0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 39px;
  border-radius: 10px;
}
.main {
  display: flex;
  flex-direction: row;
}
