{% extends "base.html" %}
{% load static %}

{% block body %}


<main>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">All Low intensity Incidents</h4>
          
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Incident ID</th>
                  <th>Type</th>
					        <th>Date</th>
					        <th>Location</th>
                  <th>Report</th>
					      </tr>
					    </thead>
					    <tbody>

            
					      <tr>
					        <th scope="row" class="scope" >{{finalreportorder.reinc_id}}</th>
					        
            <td>{{finalreportorder.reinc_type}}</td>
            <td>{{finalreportorder.re_date}}</td>
            <td>{{finalreportorder.re_loc}}</td>
					        <td><a href="finalreportpdf/{{finalreportorder.reinc_id}}" class="btn btn-primary">Report</a></td>
					      </tr>
			
					      
					      
					      
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>
{% endblock body %}