
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light  " style="background-color:  #341D30">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
          <h2 style="color:#FFEDE1; font-family: sans-serif;">Tutfinder</h2>
        </a>

        <!-- Left links -->


      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          


            {% if user.is_authenticated %}
            <li class="nav-item">
              <a style="color:#FFEDE1; margin-right:20px" class="nav-link" href="/tutcreateprofile">Tutor Create Profile</a>
            </li>
            <li class="nav-item">
              <a style="color:#FFEDE1; margin-right:20px" class="nav-link" href="/studcreateprofile">Student Create Profile</a>
            </li>

            <li class="nav-item">
              <a style="color:#FFEDE1; margin-right:20px" class="nav-link" href="/studcreateprofile"> Welcome {{request.user}}</a>
            </li>
          </ul>


          <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-right hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>

              <li>
                <a class="dropdown-item" href="/logout">Logout</a>
              </li>



              {% else %}
              <li class="nav-item">
                <a style="color:#FFEDE1" class="nav-link" href="/signup">SignUp</a>
              </li>
              <li class="nav-item">
                <a style="color:#FFEDE1" class="nav-link" href="/login">Login</a>
              </li>

              {% endif %}

            </ul>
          </div>
          <!-- Left links -->


        </div>


        <!-- Icon -->

        <!-- Avatar -->

      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <div class="background">

  </div>






  <div class="footer" style="margin-top:700px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <div style="margin: 10px;">
            <h2 style="color: #FFEDE1;">Tutfinder</h2>
            <p class="contact-us">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus beatae aliquid nam
              consequuntur minus ut! Esse ex adipisci tempore iste ab nihil ad temporibus dolorum, veniam
              accusantium itaque aperiam nobis.</p>
            <h4 class="contact-us">Address</h4>
          </div>

        </div>
        <div class="col-sm-4">
          <h4 style="margin: 10px;" class="contact-us footer-text-color">Contact us</h4>
          <form action="submit">
            <div class="mb-3">

              <input style="background-color:#FFEDE1; margin: 10px;" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">

              <textarea style="background-color:#FFEDE1; margin: 10px;" class="form-control input-textbox" id="exampleFormControlTextarea1" rows="3" placeholder="message"></textarea>
            </div>
            <button style="background-color:#FFEDE1; margin: 10px;" class="btn btn-primary" type="submit">
              <a href="">Sumbit</a></button>
          </form>




        </div>



      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script>



  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script>


</body>

</html>