<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
   
    <link rel="stylesheet" href="https://unpkg.com/codyhouse-framework/main/assets/css/style.min.css">
    <title> Login</title>
</head>

<body style="background-color: #FFEDE1;">

    <div class="login-container" style="margin-top: 10%; margin-left: 30%;margin-right: 30%;">
        <p>{% for msg in messages %}
            {{msg}}
            {% endfor %}</p>
        <form class="login-form" action="/login" method="POST">
            {% csrf_token %}






            <div class="margin-bottom-sm">
               
                <input  style=" color: #341D30; background: #FFEDE1;  " class="form-control width-100%" type="text" name="usernamelogin"
                    id="usernamelogin" placeholder="username">
            </div>

            <div class="margin-bottom-sm">
                <div class="flex justify-between margin-bottom-xxxs">
                    
                   
                </div>

                <input style=" border: 5px; background: #FFEDE1;border: 2px solid #341D30" class="form-control width-100%" type="password" name="passlogin" id="passlogin" placeholder="password">
            </div>

            <div class="margin-bottom-sm button-color">
                <button class="btn btn--primary btn--md width-100%" style="background-color: #341D30;">Login</button>
            </div> 
            
            <div class="text-center" style="padding-bottom: 10px;>
                <p class="text-sm">Don't have an account?</p>
            </div>
            <div class="margin-bottom-sm">
                <button class="btn btn--primary btn--md width-100%" style="background-color: #341D30;">Signup</button>
            </div>




           
        </form>
    </div>






    <script src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>

    <script src="" async defer></script>
</body>

</html>