<!DOCTYPE html>

<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tutorprofilestyle.css' %}" />
    <title>Student Profile</title>
  </head>

  <body>
    <p>{% for msg in messages %}
      {{msg}}
      {% endfor %}</p>
    <main>
      <nav>
        <h1>TUTFINDER</h1>
        <ul>
          <li><a href="/index">Home</a></li>
          {% for storders in finalprofilestudorder %}
          <li><a href="">DashBoard</a></li>
          <li><a href="studentprofile/{{storders.idstudent}}">Profile </a></li>
          
          <li><a href="/logout">LogOut</a></li>
          <img class="avatar" src="https://static.vecteezy.com/system/resources/previews/000/350/738/original/vector-male-student-icon.jpg" alt="" />
        </ul>
      </nav>
      <div class="parent">
        <div class="container">
          <div class="left">
            <div class="up">
              <img
                class="avatar-l"
                src="https://static.vecteezy.com/system/resources/previews/000/350/738/original/vector-male-student-icon.jpg"
                alt=""
              />
              <div class="line"></div>
            </div>
            <form action="">
            <div class="down">
              <div class="cred">
                <br><br>
             <center>  <input type="text" value="{{storders.inputfirstnamestu}} {{storders.inputlastnamestu}}" />
             <input type="email" value="{{storders.inputemailstu}}" />
             <input type="number" value="{{storders.idstudent}}" />

             <input type="number" value="{{storders.inputphonestu}}" />
             <input type="text" value="{{storders.inputtypestu}}" />
            </center>
              </div>
              
            </div>
          </div>
          <div class="right">
            <div class="inputs">
              <br><br>  
                <input type="text" class="fifty" value="{{storders.inputaddressstu}}"  />
                <input type="text" class="fifty" value="{{storders.inputclassstu}}"  />
                <input type="text" class="hundred" value="{{storders.inputbranchstu}}"  />
                <input type="text" class="seventy" value="{{storders.inputexperiencestu}}"  />
                <input type="number" class="thirty" value="{{storders.inputagestu}}" />
                <input type="text" class="forty" value="{{storders.inputgenstu}}" />
                <input type="text" class="fifty" value="{{storders.inputtimestu}}" />
                <input type="text" class="sixty" value="{{storders.inputmodestu}}" />
                {% endfor %}
                <br><br>
           
               <!-- <center><button class="form-button" type="submit">Save</button></center>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
