<!DOCTYPE html>

<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tutorprofilestyle.css' %}" />
    <title>Tutor Profile</title>
  </head>

  <body>
    <p>{% for msg in messages %}
      {{msg}}
      {% endfor %}</p>
    <main>
      <nav>
        <h1>TUTFINDER</h1>
        <ul>
          <li><a href="/index">Home</a></li>
          {% for forders in finalprofiletutorder %}
          <li><a href="tutordashboard/{{forders.inputemailt}}">DashBoard</a></li>
          <li><a href="tutorprofile/{{forders.inputemailt}}">Profile </a></li>
          {% endfor %}
          <li><a href="/logout">LogOut</a></li>
          <img class="avatar" src="{{finalprofiletutorder.inputpict}}" alt="" />
        </ul>
      </nav>
      <div class="parent">
        <div class="container">
          <div class="left">
            <div class="up">
              <img
                class="avatar-l"
                src="{{finalprofiletutorder.inputpict}}"
                alt=""
              />

              <div class="line"></div>
            </div>
            <div class="down">
              <div class="cred">
                <br><br>
                <h3>{{finalprofiletutorder.inputfirstnamet}} {{finalprofiletutorder.inputlastnamet}}</h3>
                <h4><center> {{finalprofiletutorder.inputemailt}}</h4>
                  <h4><center> {{finalprofiletutorder.inputphonet}}</h4>
                    <h4><center> {{finalprofiletutorder.inputtypet}}</h4>

              </div>
              <div class="space"></div>
              <button class="editButton">Edit Profile</button>
              <div class="space-2"></div>
            </div>
          </div>
          <div class="right">
            <div class="inputs">
              <form action="">
                <input type="text" class="fifty" value="Address: {{finalprofiletutorder.inputaddresst}}"  />
                <input type="text" class="fifty" value="Courses I Teach: {{finalprofiletutorder.inputcoursest}}"  />
                <input type="text" class="hundred" value="My Experience: {{finalprofiletutorder.inputexperiencet}}"  />
                <input type="text" class="seventy" value="Age: {{finalprofiletutorder.inputaget}}"  />
                <input type="text" class="thirty" value="Organization: {{finalprofiletutorder.inputorgt}}" />
                <input type="text" class="forty" value="Timings: {{finalprofiletutorder.inputtimet}}" />
                <input type="text" class="fifty" value="Seats: {{finalprofiletutorder.inputseatt}}" />
                <input type="text" class="sixty" value="Mode: {{finalprofiletutorder.inputmodet}}" />
                <br><br>
                <center><button class="form-button">Save</button></center>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
