<!DOCTYPE html>

<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tutorprofilestyle.css' %}" />
    <title>Tutor Profile</title>
  </head>

  <body>
    <p>{% for msg in messages %}
      {{msg}}
      {% endfor %}</p>
    <main>
      <nav>
        <h1>TUTFINDER</h1>
        <ul>
          <li><a href="/index">Home</a></li>
          {% for storders in finalprofiletutorder %}
          <li><a href="">DashBoard</a></li>
          <li><a href="tutorprofile/{{storders.idtutor}}">Profile </a></li>
          
          <li><a href="/logout">LogOut</a></li>
          <img class="avatar" src="{{storders.inputpict}}" alt="" />
        </ul>
      </nav>
      <div class="parent">
        <div class="container">
          <div class="left">
            <div class="up">
              <img
                class="avatar-l"
                src="{{storders.inputpict}}"
                alt=""
              />
              <div class="line"></div>
            </div>
            <form action="">
            <div class="down">
              <div class="cred">
                <br><br>
             <center>  <input type="text" value="{{storders.inputfirstnamet}} {{storders.inputlastnamet}}" />
             <input type="email" value="{{storders.inputemailt}}" />
             <input type="number" value="{{storders.idtutor}}" />

             <input type="number" value="{{storders.inputphonet}}" />
             <input type="text" value="{{storders.inputtypet}}" />
            </center>
              </div>
              
            </div>
          </div>
          <div class="right">
            <div class="inputs">
              <br><br>  
                <input type="text" class="fifty" value="{{storders.inputaddresst}}"  />
                <input type="text" class="fifty" value="{{storders.inputcoursest}}"  />
                <input type="text" class="hundred" value="{{storders.inputorgt}}"  />
                <input type="text" class="seventy" value="{{storders.inputexperiencet}}"  />
                <input type="number" class="thirty" value="{{storders.inputaget}}" />
                <input type="text" class="forty" value="{{storders.inputseatt}}" />
                <input type="text" class="fifty" value="{{storders.inputtimet}}" />
                <input type="text" class="sixty" value="{{storders.inputmodet}}" />
                {% endfor %}
                <br><br>
           
               <!-- <center><button class="form-button" type="submit">Save</button></center>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
